<head>
<style>
			table, th, td {
			   border: 1px solid black;
			   border-spacing: 5px;
			}
			th, td {
				padding: 10px;
			}
		</style>
</head>
<div class="section" ng-controller="searchController">

	<h3>{{headingTitle}}</h3>

	<form method="post" ng-submit="find()" name="registrationForm"
		id="registrationForm">
		<div>
		<input  type="text" ng-model="formData.bookName"
			name="bookName" required="true" />
			<button class="btn btn-theme-orange margintop10"
				type="submit">Find Books</button>
		</div>
		<br/>
		<div>
		<table width="100%">
		<thead>
		     <th width="10%"> ID </th>
		     <th width="30%"> Name </th>
		     <th width="30%"> Author </th>
		     <th width="10%"> Quantity </th>
		     <th width="20%">  </th>
		 </thead>
			<tr ng-repeat="data in result">
					<td>{{data.id}}</td> 
					<td>{{data.name}}</td>
					<td>{{data.author}}</td>
					<td>{{data.quantity}}</td>
					<td>
					
					<button ng-if ="data.quantity > 0"
						ng-click="purchase(data.id,data.name,data.author,data.quantity)">
						Purchase </button>
				    </td>
			</tr>
		</table>
		</div>
	</form>

</div>