<div class="section"  ng-controller="registerationController">
	<h3>{{headingTitle}}</h3>
	<form ng-submit="register()" method="post">
		Name <input class="form-control" type="text" ng-model="formData.name"
			name="bookName" required="true" /> <br /> 
		Author <input
			class="form-control" type="text" ng-model="formData.author"
			name="author" required="true" /><br /> 
	    Year <input type="text" id="year" name="year" ng-model="formData.publishYear"/><br /> 
	    Quantity <input type="text" id="year" name="year" ng-model="formData.quantity"/><br /> 
		Description 
<textarea ng-model="formData.description"></textarea>
		<br /> <button class="btn btn-theme-orange margintop10 pull-right"
				type="submit">Add Book</button>
	</form>
</div>
